  
     /* Allgemeine Stilregeln */
     body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: rgb(10 , 10, 10);
      color: white;
      background-image: url(../img/Team03.jpg);
      background-size: cover;
      background-position-y: 4em;
      background-repeat: no-repeat;
    }


    /* Header-Stil */
    header {
      background-color: rgb(10 , 10, 10);
      color: #fff;
      padding: 2em;
      text-align: center;
    }

    a{
      font-size: 12px;
      color: white;
      text-decoration: none;
      margin: 0.5em;
    }

    a:hover{
      color: #ff6a0e;
    }

    a.team{
      font-size: 12px;
      color: #ff6a0e;
      text-decoration: none;
      margin: 0.5em;
    }

    a.team:hover{
      color: white;
    }

    .menu { 
      float: center;
    }
  
    .logo {
      width:70%;
      height: auto;
    }

    p {
      margin-right: 10em;
    }

    .textleft {
      margin-right: 2em;
      margin-left: 5em;
      margin-top: 2em;
    }

    .textright {
      margin-left: 4em;
      margin-right: 5em;
      margin-top: 2em;
    }
     /* Projekte-Container-Stil */
     .project-container {
       display: flex;
       flex-wrap: wrap;
       margin-top: 40px;
       justify-content: space-between;
     }
 
     /* Projekt-Stil */
     .project {
       background-color:  rgb(10 , 10, 10);
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
       width: 25%;
       flex-direction: row;
       align-items: flex-start;
       display: flex;
       justify-content: center;
       text-align: justify;
     }
 
     .project img {
       width: 100%;
       height: auto;
     }
 
     img.titelimg {
       width: 100%;
       height: auto;
     }
